*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    background-color: #333;
    color: #fff;
    display: flex;
    font-size: 1.3rem;

}
header nav{
    width: 100%;
}
header nav ul{
    display: flex;
    width: 90%;
    margin: auto;
}
header nav ul li{
    list-style: none;
    padding: 10px;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.btnInicio{
    margin-left: auto;
}
main{
    width: 70%;
    margin:auto;
}
.intro{
    border: 1px solid #666;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
}
.windows{
    display: flex;
    justify-content:space-between;
}
.windowsSimulator,.windowsCode{
    border:1px solid #666;
    width: 34vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    height: 30vw;
    background-color: #999;
}
.btnClose{
    padding: 0px 7px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: auto;
}
.windowsSimulator__Container,.windowsCode__Container{
    margin: auto;
}
.controls{
    display: flex;
}
.controls_ToMove{
    display: flex;
    flex-direction: column;
    width: 10vw;
}
.btnMove{
    width: 70px;
    height: 70px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #bbb;
    border:1px solid #666;
    border-radius: 7px;
    margin: 5px auto;
}
.containerAD{
    margin: 4px 0px;
    display: flex;
}
.controls_Stop{
    display: flex;
}
.btnStop{
    border: 1px solid #900;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #f00;
    font-weight: bold;
    margin: auto;
    text-align: center;
    padding: 30px;
}
.messages{
    display: flex;
    justify-content: space-between;
}
.messagesReceived,.messagesSended{
    width: 34vw;
    height: 34vw;
    border-radius: 15px;
    border:1px solid #666;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.messagesSended__Container,.messagesReceived__Container{
    width: 80%;
    height: 90%;
    border-radius: 15px;
    border:1px solid #666;
    padding: 10px;
    margin: 15px auto;
}